<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Past Exams</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Past Exams</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Class</th>
            <th>Season</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exam : ${pastExams}">
            <td th:text="${exam.theClass.name}"></td>
            <td th:text="${exam.examSeason.name}"></td>
            <td th:text="${exam.date}"></td>
            <td>
                <a th:href="@{/professor/exams/{examId}/students(examId=${exam.id})}" class="btn btn-primary">Grade
                    Exam</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
