<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">>
<head>
    <title>Student List</title>
</head>
<body>
<div>
    <div layout:fragment="content">
    <h2>Students in Group</h2>
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Card ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.cardId}"></td>
            <td>
                <a th:href="@{/admin/students/{id}/edit(id=${student.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/students/{id}/delete(id=${student.id})}" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this student?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/register/studentForm}" class="btn btn-primary">Register New Student</a>
</div>
</div>
</body>
</html>
