<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Student Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<div class="container">
  <form th:action="@{/admin/register/student}" th:object="${student}" method="post" class="needs-validation" novalidate>
    <h1>Student Registration</h1>
    <div class="row">
      <div class="col-md-4">
    <fieldset>
      <legend><span class="number">1</span> Student Info</legend>
      <label for="username">Username:</label>
      <input type="text" id="username" th:field="*{username}" required>
      <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required>
      <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
      <div class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}" required>
      <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </fieldset>
      </div>
      <div class="col-md-4">
        <fieldset>
          <legend><span class="number">2</span> Personal  Info</legend>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" th:field="*{firstName}" required>
          <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" th:field="*{lastName}" required>
          <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

          <label for="birthDate">Birth Date:</label>
          <input type="date" id="birthDate" th:field="*{birthDate}" class="form-control" required>
          <div class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>

          <label>Gender:</label>
          <input type="radio" id="genderMale" th:field="*{gender}" value="Male" required>
          <span >Male</span>
          <input type="radio" id="genderFemale" th:field="*{gender}" value="Female" required>
          <span>Female</span>
          <div class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>

          <label for="cardId">Card ID:</label>
          <input type="text" id="cardId" th:field="*{cardId}" class="form-control" required>
          <div class="error" th:if="${#fields.hasErrors('cardId')}" th:errors="*{cardId}"></div>
        </fieldset>
      </div>
      <div class="col-md-4">
    <fieldset>
      <legend><span class="number">2</span> Student group</legend>
      <label for="group">Group:</label>
      <select id="group" th:field="*{groupId}" required>
        <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.yearLevel} + ' ' + ${group.name} + ' ' + ${group.department.name} + ' ' + ${group.scholarYear.yearNumber}"></option>
      </select>
      <div class="error" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></div>
    </fieldset>
        </div>
</div>

      <button type="submit" >Register</button>
  </form>
</div>
</body>
</html>
