<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <h3>Home Page</h3>
    <hr>
    <p>Welcome to the home page.</p>
    <p sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary" th:href="@{/admin/register/studentForm}">Register Student</a>
        <a class="btn btn-primary" th:href="@{/admin/register/professorForm}">Register Professor</a>
    </p>
    <div>
        <img src="/images/home-backgroung.png" height="500" style="margin-left: 10%">
    </div>
</div>
</body>
</html>
