<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<head>
  <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h3>My Classes</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Class Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="class : ${classes}">
        <td>
          <a th:href="@{/class/{id}(id=${class.id})}" th:text="${class.name}"></a>
        </td>
        <td th:text="${class.description}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
