<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Graded Exams</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Graded Exams</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Class</th>
            <th>Date</th>
            <th>Status</th>
            <th>Grade</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="exam : ${gradedExams}">
            <td th:text="${exam.exam.theClass.name}"></td>
            <td th:text="${exam.exam.date}"></td>
            <td th:text="${exam.status}"></td>
            <td th:text="${exam.grade}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
