<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h3>My Classes</h3>
        <div>
            <img src="/images/my-classes.jpg" alt="mu classes" class="img-fluid" width="500px">
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Description</th>
                <th>Requirements</th>
                <th>Final Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="class : ${classes}">
                <td>
                    <a th:href="@{/class/{id}(id=${class.id})}" th:text="${class.name}"
                       style="color: rgba(115,47,162,0.65);font-weight: bold"></a>
                </td>
                <td th:text="${class.description}"></td>
                <td>
                    <a th:href="@{/student/summary/{id}(id=${class.id})}">View Details</a>
                </td>
                <td>
        <span th:if="${finalGrades.get(class).isPresent()}"
              th:text="${finalGrades.get(class).get().getFinalGrade()}"></span>
                    <span th:if="${!finalGrades.get(class).isPresent()}" th:text="'-'"></span>
                </td>
            </tr>
            </tbody>
        </table>


        <p>Total Credits: <span th:text="${totalCredits}"></span></p>
        <p>Average Grade: <span th:text="${averageGrade}"></span></p>

    </div>
</div>
</body>
</html>
